body{margin: 0px;
padding: 0;
text-align: center;}



h2{border: 4px solid black;
border-radius: 5px;
margin: 0px 30px;
font-size: 23px;
color: yellow;
font-weight: bolder;
font-family: arial;
margin-bottom: 10px;}

.calculator{
    
    background-color:#43d8c9;
width: 400px;
border: 3px solid green;
border-radius: 10%;
margin: auto;
   
font-size: 20px;
font-weight: bold;
box-shadow: 1px 3px 3px 4px;
font-family: Lucida Sans;
transition: 0.3s;
margin-top: 50px;}
.calculator:hover{
transform: scale(1.01);}

.result{margin: 20px ;
    font-size: 30px;
    font-weight: bold;
    outline: none;
  color: aliceblue;
  background-color:#40bad5;
height: 50px;
letter-spacing: 2px;
border: 3px solid black;
box-shadow: 2px -3px 3px 3px #0779e4;
border-radius: 10px;
transition: 0.4s;
width: 320px;
padding: 5px;
text-align: right;}

.result:hover{transform: scale(1.01);
border: 5px solid black;}
.row{
    
    width:300px;
    height: 80px;
    background-color:#77d8d8;
    text-align: center;
    margin: auto;
    
}
#btn{width: 50px;
    outline: none;
height: 50px;
margin:10px;
border: 2px solid black;
font-size: 20px;
font-weight: bold;
border-radius: 30%;
transition: 0.4s;
box-shadow: 3px 3px 3px 4px ;
background-color:#4cbbb9;
color: white;}

#btn:hover{
    background-color:#0779e4;
transform: scale(1.2);
outline: none;
box-shadow: 2px 2px 2px 2px black;

}
#btn2{width: 120px;
    outline: none;
height: 50px;
margin:12px;
margin-top: 0px;
border: 2px solid black;
font-size: 20px;
font-weight: bold;
border-radius: 20%;
box-shadow: -2px 3px 3px 3px;
transition: 0.4s;
background-color:#4cbbb9;
color: white;}
#btn2:hover{transform: scale(1.1);
background-color:#0779e4;
box-shadow: 1px 3px 3px 1px black;}






.mainbody{border: 2px solid #0779e4 ;
    border-radius: 10px;
    box-shadow: -2px 2px 2px 3px;
    width:330px;
    background-color: eff3c6;
    background-color:#77d8d8
    text-align: center;
    margin:auto;
    margin-bottom: 40px;
justify-content: center;}
input value{color: white;}

.onoff{width: 50px;
    outline: none;
height: 50px;
margin:10px;
border: 2px solid black;
font-size: 20px;
font-weight: bold;
border-radius: 30%;
transition: 0.4s;
box-shadow: 3px 3px 3px 4px ;
background-color:orange;
color: white;}

.onoff:hover{
    background-color:#0779e4;
transform: scale(1.2);
outline: none;
box-shadow: 2px 2px 2px 2px black;

}

.row{display: none;}

.afteron{box-shadow: -10px 15px 40px 50px yellow;}
